.card {
  @extend .z-depth-4, .hoverable;
}

#card-no-standard-gear {
  @extend .red, .darken-2;
  div {
    @extend .white-text;
  }
}

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);
  }
}

@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
}

@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
}